---
import Layout from '../layouts/BlogPost.astro';
---
<style>
	.illustation {
		text-align: center;
		margin-bottom: 50px;
	}
</style>
<Layout
	title="About Us"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('July 08 2024')}
	heroImage="/blog-placeholder-about.jpg"
>

	<p>
		Googie academy is a software education institution that offers learning in an alternative way. We are one step ahead of conventional methods. It is based on recent technological developments and is always the first to adopt future technologies.

	</p>

	<div class="illustation">
		<img style="margin: auto;display:block;" src="/work.svg" alt="work illustration" width="400px">
	</div>

	<h2>
		⚖️ <strong>Disclaimer</strong> ⚖️
	</h2>
	<p>
		All opinions expressed on this blog are my own and do not represent the opinions of any entity. This blog is for general informational purposes only and is not intended to provide any professional advice.
		Any similarity or resemblance of any brand and/or logo has no intention of imitation.

	</p>
</Layout>
